@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.dbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 1px 3px 5px $darkblue;

    &__top {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    &__title {
        @include boxheaderbold;
        color: $darkblue;
        margin-bottom: 1rem;
    }

    &__info {
        @include copytextitalic;
    }

    &__container {
        display: flex;
        width: 35%;
    }

    &__holder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__category {
        @include copytext;
    }

    &__name {
        @include footertext;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        border: 1px solid $darkblue;
        padding: 4rem 3rem;
    }

    &__image {
        width: 9rem;
        height: 9rem;
        margin: 0.5rem 1rem;
    }
}