@use "./variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');

// Media type
@mixin tablet {
  @media (min-width: $bp-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $bp-desktop) {
    @content;
  }
}

//Marginblock
@mixin marginblock($margin-end: 0) {
    margin-block-start: $margin-end;
    margin-block-end: $margin-end;
  }

//Logo 
@mixin logo {
    font-family: 'Ribeye';    
}
