@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global" as *;
@use "../../styles/partials/typography" as *;

.customize-heading-box {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $darkblue;
  font-size: 1.5rem;
}

.customize-container {
  border: 1px $darkblue solid;
  display: flex;
  justify-content: space-evenly;
  margin-left: 12rem;
  margin-right: 10rem;
  margin-bottom: 10rem;
  width: 80%;
  box-shadow: 1px 3px 5px $darkblue;

  &__intro {
    width: 50%;
    //border: steelblue 1px solid;
    margin: 2rem;
  }
  &__title {
    margin-bottom: 0.5rem;
    color: $darkblue;
    font-size: 2rem;
  }
  &__details {
    color: $darkblue;
    font-size: 1.5rem;
  }
}

.customize-box {
  margin-top: 2rem;
  display: flex;
  font-size: 1.5rem;
  color: $darkblue;
  //border: springgreen 1px solid;
  //   margin-left: 5rem;
  &__option {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    //justify-content: center;
    align-items: center;
  }
}

.customize-button-container {
  display: flex;
  //justify-content: center;
}

.customize-button {
  position: absolute;
  top: 100%;
  left: 45%;
  background-color: $blue;
  color: white;
  width: 15rem;
  padding-top: 0.8rem;
  padding-bottom: 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
}

.customize-logo {
  @include logo;
  padding-left: 5px;
}
