@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 100%;
    background-color: $blue;

    &__title {
        @include copytext;
    }

    &__info {
        @include footertext;
    }
}